* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
}
.container {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  height: 100vh;
  position: relative;
}
.container .card {
  max-width: 360px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  border-radius: 8%;
  padding: 20px;
}
.card .text {
  width: 100%;
}
.card .text h1 {
  font-weight: 700;
  font-size: 28px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}
.card .text p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.attribution{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);

}
